.sidebar {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-side-bar {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-right: 1.2px solid #dfdfdf;
    border-bottom: 1.2px solid #dfdfdf;
}

.nome-perfil {
    width: 28%;
    height: 38%;
    background: linear-gradient(to bottom, #f56715, #d23800);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-left: 9%;
}

.nome-perfil p {
    font-size: 27px;
    color: white;
    font-weight: 620;
}

.nome-restaurante {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 9%;
    gap: 1%;
}

.nome-restaurante h1 {
    font-size: 20px;
}

.nome-restaurante p {
    font-weight: 550;
    color: rgb(104, 103, 103);
}

.menu {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2%;
    align-items: center;
    border-right: 1.2px solid #dfdfdf;
    border-bottom: 1.2px solid #dfdfdf;
}

.menu_item {
    width: 85%;
    height: 12.7%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 4%;
    cursor: pointer;
}

.menu_item.active {
    background-color: #fc4a0a;
    color: #ffffff;
}

.menu_item.active:hover {
    background-color: #fc4a0a;
    color: #ffffff;
}

.menu_item:hover {
    background-color: rgba(243, 243, 243, 0.727);
}

.menu_item svg {
    margin-left: 5%;
}

.menu_item span {
    font-weight: 550;
    font-size: 16.3px;
}

.sidebar-footer {
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1.2px solid #dfdfdf;
}

.botao-sair {
    width: 85%;
    height: 62.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 4%;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.botao-sair:hover {
    background-color: rgba(216, 21, 21, 0.075);
}

.botao-sair svg {
    margin-left: 5%;
    color: rgb(216, 21, 21);
}


.botao-sair p {
    font-weight: 550;
    font-size: 16.3px;
    color: rgb(216, 21, 21);
}