.sideBar {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloSideBar {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-right: 1.2px solid #dfdfdf;
    border-bottom: 1.2px solid #dfdfdf;
}

.nomePerfil {
    width: 28%;
    height: 38%;
    background: linear-gradient(to bottom, #f56715, #d23800);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-left: 9%;
}

.nomePerfil p {
    font-size: 27px;
    color: white;
    font-weight: 620;
}

.nomeRestaurante {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 9%;
    gap: 1%;
}

.nomeRestaurante h1 {
    font-size: 20px;
}

.nomeRestaurante p {
    font-weight: 550;
    color: rgb(104, 103, 103);
}

.menu {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2%;
    align-items: center;
    border-right: 1.2px solid #dfdfdf;
    border-bottom: 1.2px solid #dfdfdf;
}

.menuItem, .menuActive {
    width: 85%;
    height: 12.7%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 4%;
    cursor: pointer;
}

.menuActive {
    background-color: #fc4a0a;
    color: #ffffff;
}

.menuActive:hover {
    background-color: #fc4a0a;
    color: #ffffff;
}

.menuItem:hover {
    background-color: rgba(243, 243, 243, 0.727);
}

.menuItem svg, .menuActive svg {
    margin-left: 5%;
}

.menuItem span, .menuActive span {
    font-weight: 550;
    font-size: 16.3px;
}

.sideBarFooter {
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 1.2px solid #dfdfdf;
}

.botaoSair {
    width: 85%;
    height: 62.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 4%;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.botaoSair:hover {
    background-color: rgba(216, 21, 21, 0.075);
}

.botaoSair svg {
    margin-left: 5%;
    color: rgb(216, 21, 21);
}


.botaoSair p {
    font-weight: 550;
    font-size: 16.3px;
    color: rgb(216, 21, 21);
}